{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div id="home-list-overall">
            <div id="home-list-pictures">
                    <a href="{{ path("home") }}">
                    <img id="diversite1" src="{{ asset('build/images/logoNavBar_noBg.png') }}" alt="Image Ozé La Diversité avec logo">
                    </a>
{#                    <a href="{{ path("applicant_index") }}"><button type="button" class="btn btn-bleuOze btn-lg btn-block" id="home-list-buttons">Candidat</button></a>#}
                    <a href="{{ path("app_login") }}"><button type="button" class="btn btn-bleuOze btn-lg btn-block" id="home-list-buttons">Se Connecter</button></a>
            </div>
            <div class="container" id="home-list">

                <div class="container applicant_index_tuto">
                    <h1 class="applicant_home_welcome_mainTitle" >Bienvenue !</h1>
                    <div class="card candidate_ozeoPresentationCard">
                        <div class="card-body" id="presentationOze">
                            <p class="card-text">  OzéO, est une plateforme digitale intuitive et inclusive, permettant de simplifier l’accès à l’emploi et de recruter différemment.
                                Notre but est de faire en sorte que des profils éloignés de l’emploi,
                                puissent rencontrer une opportunité grâce à un système de matching ciblant des compétences comportementales et des compétences techniques.
                                Faire savoir un savoir faire, recruter une personnalité, Ozéo permettra de rencontrer le candidat ou l’entreprise qui vous conviendra le mieux.</p>
                        </div>
                    </div>
                    <div class="card candidate_ozeoTutoCard" >
                        <div class="card-body">
                            <h5 class="card-title candidate_welcome_title">Tutoriel sur l'utilisation du site</h5>
                            <ul class="card-text">
                                <li>Créez votre Profil</li>
                                <li>Visualisez annonces et profils qui match les compétences
                                    et postulez !</li>
                                <li>Entrez en contact !</li>
                            </ul>
                        </div>
                    </div>

                    <h1 class="applicant_home_welcome_mainTitle" >Le Concept</h1>
                    <div class="container desktop_candidate_tuto">

                        <div class="card desktop_candidate_tutoCard1 row align-self-center">
                            <div class="card-body" id="buttonRedirectProfil">
                                Créez votre Profil
                            </div>
                        </div>
                        <img src="{{ asset('build/images/fleche.png') }}" alt="flèche">
                        <div class="card desktop_candidate_tutoCard2">
                            <div class="card-body">
                                Visualisez annonces et profils qui match les compétences
                                et postulez !
                            </div>
                        </div>
                        <img src="{{ asset('build/images/fleche.png') }}" alt="flèche">
                        <div class="card desktop_candidate_tutoCard3 row align-self-center">
                            <div class="card-body" id="buttonRedirectProfil">
                                Entrez en contact !
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
