{% extends 'base.html.twig' %}

{% block title %}Création de compte candidat{% endblock %}

{% block body %}
    {% include '/applicant/_navbar.html.twig' %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Créez votre compte</h1>

    <div class="center">
        <img id="applicantImg" src="{{ asset('build/images/applicant.jpg') }}" alt="Image de cohésion d'équipe">
    </div>

    <div class="group-form" id="company-register">
        {{ form_start(ApplicantRegister) }}
            {{ form_row(ApplicantRegister.email) }}
            {{ form_row(ApplicantRegister.password, {
                label: 'Mot de passe'
            }) }}
            <label id="registerFormShape">{{ form_widget(ApplicantRegister.accepterLesTermes) }}
                Accepter les termes et conditions d'utilisation<a href="{{ path("legalTerms") }}">Voir les mentions légales</a></label>

            <button id="registerBtn" class="btn-center btn btn-bleuOze">{{ button_label|default('S\'inscrire') }}</button>
        {{ form_end(ApplicantRegister) }}
    </div>
{% endblock %}