{{ form_start(form) }}
{#{{ form_widget(form) }}#}
<div class="jobOfferFirstPart">
    {{ form_row(form.title, { 'label': 'Intitulé du poste' }) }}
    <div class="offer_date flex">
    {{ form_row(form.startDate, { 'label': 'Date de début' }) }}
    </div>
    {{ form_row(form.contractType, { 'label': 'Type de contrat' }) }}
    {{ form_row(form.duration, { 'label': 'Durée de la mission (si durée limitée)' }) }}
    {{ form_row(form.salary, { 'label': 'Salaire (facultatif)' }) }}
    {{ form_row(form.description, { 'label': 'Description de l\'offre' }) }}
    <div class="offer_date flex">
    {{ form_row(form.endDate, { 'label': 'Date limite de candidature' }) }}
    </div>
    {{ form_row(form.isAnonymous, { 'label': 'Cochez si vous souhaitez que l\'entreprise reste anonyme' }) }}
</div>
<h2 class="offerSkillsTitle">Compétences</h2>
<div class="offerSkillsBlock flex">
    <div class="offerHardSkills">
    <h5>Compétences techniques</h5>
        <div>{{ form_row(form.skills) }}</div>
    </div>
    <div class="offerSoftSkills">
    <h5>Compétences comportementales</h5>
    </div>
</div>

<button class="btn btn_validate flex">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
