{{ form_start(form) }}
{#{{ form_widget(form) }}#}
{{ form_row(form.title, { 'label': 'Intitulé du poste' }) }}
{{ form_row(form.startDate, { 'label': 'Date de début' }) }}
{{ form_row(form.contractType, { 'label': 'Type de contrat' }) }}
{{ form_row(form.duration, { 'label': 'Durée de la mission' }) }}
{#{{ form_row(form.city, { 'label': 'Ville' }) }} #}
{{ form_row(form.salary, { 'label': 'Salaire' }) }}
{{ form_row(form.description, { 'label': 'Description de l\'offre' }) }}
{{ form_row(form.endDate, { 'label': 'Date limite de candidature' }) }}
{{ form_row(form.isAnonymous, { 'label': 'Cochez si vous souhaitez que l\'entreprise reste anonyme' }) }}
<h2>Compétences</h2>

<button class="btn btn_validate flex">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
