{% extends 'base.html.twig' %}

{% block title %}Candidat ayant postulé{% endblock %}

{% block body %}
    {% include '/company/_navbar.html.twig' %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('company_index') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path("offer_applicants", {id: offer.id}) }}">{{ offer.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Candidat</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="candidateInfo">

                <h1>{{ applicant.firstname }}</h1>
                <div id="listApplicantInfo">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Description : </strong>{{ applicant.personality }}</li>
                        <li class="list-group-item"><strong>Ville : </strong>{{ applicant.city }}</li>
                        <li class="list-group-item"><strong>Mobilité : </strong>{{ applicant.mobility }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md" id="skillsList">
                <div class="card" id="list-HardSkill">
                    <div class="card-body" >
                        <div class="card-header">
                            <h5>Compétences Techniques</h5>
                        </div>
                            <div class="legend">
                                <p><i class="fas fa-check-circle"></i> Compétence Matché</p>
                                <p><i class="fas fa-times-circle"></i> Compétence Non-matché</p>
                                <p><i class="fas fa-plus-square"></i> Compétence en Plus</p>
                            </div>
                        <div class="skillMatchApplicantOfferApplicant">
                            <ul style="list-style: none ">
                                {% for skillCat in skillCats %}
                                <div id="skillCategoryNameOfferApplicant"><b>{{ skillCat.name }}</b></div>
                                    {% for hardSkill in applicant.hardSkills %}
                                        {% if hardSkill in matchHardSkills %}
                                            {% if hardSkill.skillCategory is same as skillCat %}
                                                <div class="skillGroup">
                                                    <li><i class="fas fa-check-circle"></i> {{ hardSkill.name }}</li>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            </ul>
                        </div>
                        <div class="skillOfferNotMatch">
                            <ul style="list-style: none ">
                                {% for hardSkill in offer.hardSkills %}
                                    {% if  hardSkill not in matchHardSkills %}
                                        {% if hardSkill.skillCategory is same as skillCat %}
                                            <div class="skillGroup">
                                                <li><i class="fas fa-times-circle" ></i> {{ hardSkill.name }}</li>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="extraSkillApplicant">
                            <ul style="list-style: none ">
                                {% for hardSkill in applicant.hardSkills %}
                                    {% if  hardSkill not in matchHardSkills %}
                                        {% if hardSkill.skillCategory is same as skillCat %}
                                            <div class="skillGroup">
                                                <li><i class="fas fa-plus-square "></i> {{ hardSkill.name }}</li>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card" id="list-HardSkill">
                    <div class="card-body" >
                        <div class="card-header">
                            <h5>Compétences Comportementales</h5>
                        </div>
                        <div class="skillMatchApplicant">
                            <ul style="list-style: none ">
                                {% for softSkill in applicant.softSkills %}
                                    {% if softSkill in matchSoftSkills %}
                                        <li><i class="fas fa-check-circle"></i> {{ softSkill.name }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="skillOfferNotMatch">
                            <ul style="list-style: none ">
                                {% for softSkill in offer.softSkills %}
                                    {% if softSkill not in matchSoftSkills %}
                                        <li><i class="fas fa-times-circle" ></i> {{ softSkill.name }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="extraSkillApplicant">
                            <ul style="list-style: none ">
                                {% for softSkill in applicant.softSkills %}
                                    {% if softSkill not in matchSoftSkills %}
                                        <li><i class="fas fa-plus-square "></i> {{ softSkill.name }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
