{% extends 'base.html.twig' %}

{% block title %}Candidats qui matchent{% endblock %}

{% block body %}
    {% include '/company/_navbar.html.twig' %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('company_index') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ offer.title }}</li>
        </ol>
    </nav>
    <div class="container d-block">

        <h1 class="d-block text-center">Annonce</h1>

        <div class="card container flex-column align-items-center text-center" id="announce-card-matches">
            <div class="card-body">
                <h5 class="card-title">{{ offer.title }}</h5>
                <div>type de contrat : {{ offer.contractType }}</div>
                <div>ville : {{ offer.city }}</div>
                <div>date de création : {{ offer.creationDate|date("d/m/Y") }}</div>
                <a href="{{ path("offer_show", {id: offer.id}) }}"
                   class="d-inline-block mt-2 btn btn-orangeOze d-inline-flex">Voir fiche</a>
            </div>

        </div>
    </div>
    <div class="container d-block">
        <h1 class="text-center">Liste des candidats qui ont postulé</h1>
        {% for applicant in applicants %}
            <div class="card container" id="announce-card-matches">
                <div class="row-announce card-body flex-column flex-md-row align-items-center justify-content-between">
                    <div class="d-inline-block flex-column justify-content-center mr-md-2 w-100 mb-0 text-center">
                        <h5 class="card-title mb-0" id="title-announce-desktop">{{ applicant.firstname }}</h5>
                    </div>
                    <div class="row-info-right w-100 flex-md-grow-1 flex-md-row">
                        <div class="row-info-nb d-md-inline-block flex-md-row align-items-center text-center">
                            <p class="d-md-inline-block mr-md-1 mb-0" class="card-text"> nb hardskills :
                                <strong>{{ applicant.match_hs }}</strong></p>
                            <p class="d-md-inline-block mr-md-1 mb-0" class="card-text"> nb softskills :
                                <strong>{{ applicant.match_ss }}</strong></p>
                        </div>
                        <div class="row-btn-offer d-md-inline-block flex justify-content-around">
                            <a href="{{ path("offer_applicant_show", { offerId: offer.id , applicantId: applicant.applicant_id}) }}"
                               class="d-inline-block btn btn-offer btn-bleuOze d-inline-flex">Voir fiche</a>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>

{% endblock %}
