{% extends 'base.html.twig' %}

{% block title %}Modifier l'Annonce{% endblock %}

{% block body %}
    {% include 'company/_navbar.html.twig' %}
    <h1>Modifier l'Annonce</h1>
    {{ form_start(form) }}
    <div class="jobOffer">
        {{ form_row(form.title, { 'label': 'Intitulé du poste' }) }}
        {{ form_row(form.city, { 'label': 'Ville' }) }}
        <div class="offer_date flex">
            {{ form_row(form.startDate, { 'label': 'Date de début' }) }}
        </div>
        {{ form_row(form.contractType, { 'label': 'Type de contrat' }) }}
        {{ form_row(form.duration, { 'label': 'Durée de la mission (si durée limitée)' }) }}
        {{ form_row(form.salary, { 'label': 'Salaire (facultatif)' }) }}
        {{ form_row(form.description, { 'label': 'Description de l\'offre' }) }}
        <div class="offer_date flex">
            {{ form_row(form.endDate, { 'label': 'Date limite de candidature' }) }}
        </div>
        {{ form_row(form.isAnonymous, { 'label': 'Cochez si vous souhaitez que l\'entreprise reste anonyme' }) }}
    </div>
    <h2 class="offerSkillsTitle">Compétences</h2>
    <div class="skillSelectionCompany">
        <div class="hardSkills">
            <label for="id_label_multiple" >
                {{ form_row(form.hardSkills, {'label': "Compétences Techniques ( 5min, 10max) " }) }}
            </label>
            <p id="minErrorHard"></p>
        </div>
        <div class="softSkills">
            <label for="id_label_multiple" >
                {{ form_row(form.softSkills, {'label': "Compétences Comportementales ( 5min, 10max) " }) }}
            </label>
            <p id="minErrorSoft"></p>
        </div>
    </div>
    <button class="btn btn_validate flex">{{ button_label|default('Valider') }}</button>

    {{ form_end(form) }}
    {{ include('offer/_delete_form.html.twig') }}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/fr.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#offer_softSkills').select2({
                maximumSelectionLength: 10,
                placeholder: '',
                allowClear: true,
                language: "fr",
            })

            $('#offer_hardSkills').select2({
                maximumSelectionLength: 10,
                placeholder: '',
                allowClear: true,
                language: "fr",
            });

            $('form').on('submit', function(){
                const minimum = 5;
                const errorminHard = document.querySelector('#minErrorHard');
                errorminHard.innerHTML = "";
                const errorminSoft = document.querySelector('#minErrorSoft');
                errorminSoft.innerHTML = "";

                if($("#offer_hardSkills").select2('data').length<minimum){
                    errorminHard.innerHTML = "Vous devez choisir 5 compétences minimum !";
                    return false;
                }else if($("#offer_softSkills").select2('data').length<minimum ) {
                    errorminSoft.innerHTML = "Vous devez choisir 5 compétences minimum !";
                    return false;
                }else {
                    return true;
                }
            })

        });

        </script>
{% endblock %}