{% extends 'base.html.twig' %}

{% block title %}Accueil entreprise{% endblock %}

{% block body %}
    {% include '/company/_navbar.html.twig' %}
<div class="container d-flex flex-column" id="company-home-body">
    <h1 class="d-block text-center">Accueil entreprise</h1>
    <a class="d-block btn btn-bleuOze btn-lg align-content-center"
       id="create-company-card" href="{{ path("company_edit", {id: app.user.company.id}) }}" role="button">
        Créer sa fiche entreprise
    </a>
</div>


    <h1 class="text-center">Liste de vos annonces</h1>
    {% for offer in offers %}
        <div class="card container" id="announce-card-homecompany">
            <div class="row-announce card-body flex-column flex-md-row align-items-center justify-content-between">
                <div class="d-inline-block mb-2 mr-md-2 w-100 mb-0 text-center">
                    <h5 class="card-title" id="title-announce-desktop">{{ offer.title }}</h5>
                    <p class="mb-0"> début mission : {{ offer.startDate|date("d/m/Y") }}</p>
                </div>
                <div class="row-info-right w-100 flex-md-row">
                    <div class="row-info-nb d-md-inline-block flex-md-row align-items-center text-center">
                        <p class="d-md-inline-block mr-md-2 mb-1" class="card-text"> nb matchs :
                            <strong>{{ nbMatches[offer.id] }}</strong></p>
                        <p class="d-md-inline-block mr-md-2 mb-1" class="card-text"> nb candidats :
                            <strong>10</strong></p>
                    </div>
                    <div class="row-btn-offer d-md-inline-block flex justify-content-around">
                        <a href="{{ path("offer_matches", {id: offer.id}) }}" class="d-inline-block btn btn-offer btn-orangeOze d-inline-flex">Voir matchs</a>
                        <a href="{{ path("offer_edit", {id: offer.id}) }}"
                           class="d-inline-block btn btn-offer btn-bleuOze d-inline-flex">Editer</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <h5 class="text-center"> vous n'avez pas encore d'annonces</h5>
    {% endfor %}
    {% endblock %}
