{% extends 'base.html.twig' %}

{% block title %}Mon entreprise{% endblock %}

{% block body %}
    {% include '/company/_navbar.html.twig' %}
    <h1>{{ company.name }}</h1>

    <div class="container d-md-none" id="companyDetailsMobile">
        {% if company.picture is not empty %}
            <img src="{{asset('uploads/images/company/'~company.picture)}}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
        {% endif %}
        <h2 class="text-center">Qui sommes-nous ?</h2>
        <p class="text-center">{{ company.description }}</p>
        <h2 class="text-center">Nos Valeurs</h2>
        <p class="text-center">{{ company.csr }}</p>
        {% if company.video is not empty %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ company.video }}"></iframe>
            </div>
        {% endif %}
    </div>

    <div class="container d-none d-md-block" id="companyDetailsDesktop">
        <div class="row" style="justify-content: space-around">
            <div class="col-md-5" id="companyDetailsMedia">
                {% if company.picture is not empty %}
                    <img src="{{asset('uploads/images/company/'~company.picture)}}" class="img-fluid rounded mx-auto d-block" alt="{{ company.name }}">
                {% endif %}
                {% if company.video is not empty %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ company.video }}"></iframe>
                </div>
                {% endif %}
            </div>
            <div class="col-md-5" id="companyDetailsText">
                <div class="card">
                    <div class="card-header">
                        Qui sommes-nous ?
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ company.description }}</p>
                    </div>
                    <div class="card-header">
                        Nos Valeurs
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ company.csr }}</p>
                    </div>
                </div>
                <div class="buttonEditCompany">
                    <a  id="buttonNav" class="btn btn-orangeOze" class="nav-link" href="{{ path('company_edit', {id: app.user.company.id}) }}">Modifier mon Profil</a>
                </div>
            </div>
            <div class="buttonHomeCompany">
                <a  id="buttonNav" class="btn btn-vertOze" class="nav-link" href="{{ path('company_index') }}">Accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
