{% extends 'base.html.twig' %}

{% block title %}Mon entreprise{% endblock %}

{% block body %}
    {% include '/company/_navbar.html.twig' %}
    <h1>{{ company.name }}</h1>

    <div class="container d-md-none" id="companyDetailsMobile">
        {% if company.picture is not empty %}
            <img src="{{asset('uploads/images/company/'~company.picture)}}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
        {% endif %}
        <h2 class="text-center">Qui sommes-nous ?</h2>
        <p class="text-center">{{ company.description }}</p>
        <h2 class="text-center">Nos Valeurs</h2>
        <p class="text-center">{{ company.csr }}</p>
        {% if company.picture is not empty %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ company.video }}"></iframe>
            </div>
        {% endif %}
    </div>

    <div class="container d-none d-md-block" id="companyDetailsDesktop">
        <div class="row">
            <div class="col-md-5" id="companyDetailsMedia">
                {% if company.picture is not empty %}
                    <img src="{{asset('uploads/images/company/'~company.picture)}}" class="img-fluid rounded mx-auto d-block" alt="{{ company.name }}">
                {% endif %}
                {% if company.picture is not empty %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ company.video }}"></iframe>
                </div>
                {% endif %}
            </div>
            <div class="col-md-5" id="companyDetailsText">
                <h2 class="text-center">Qui sommes-nous ?</h2>
                <p class="text-center">{{ company.description }}</p>
                <h2 class="text-center">Nos Valeurs</h2>
                <p class="text-center">{{ company.csr }}</p>
            </div>
        </div>
    </div>
{% endblock %}
