<div class="applicantForm">
    {{ form_start(form) }}
{#        {{ form_label(form.firstname, 'Ton prénom') }}#}
{#        {{ form_label(form.lastname, 'Ton nom') }}#}
        {{ form_widget(form) }}
        <input type='submit' value='C parti'>
    {{ form_end(form) }}
</div>