{% extends 'base.html.twig' %}

{% block title %}Nouveau profil{% endblock %}

{% block body %}
    {% include '/applicant/_navbar.html.twig' %}

        <div class="applicantForm">
            <div class="infoForm">
                <h2 class="titleApplicant">Modifie ton profil</h2>
                {{ form_start(form) }}
                {{ form_row(form.firstname, {'label': 'Ton prénom'}) }}
                {{ form_row(form.lastname, {'label': 'Ton nom'}) }}
                {{ form_row(form.city, {'label': 'Ta ville'}) }}
                {{ form_row(form.mobility, {'label': 'Ta mobilité (Jusqu\'où tu veux aller travailler)'}) }}
                {{ form_row(form.availability, {'label': 'A partir de quand es-tu disponible?'}) }}
                {{ form_row(form.personality, {'label': 'Parle nous de toi, de tes hobbies, de tes passions..'}) }}
            </div>
            <hr>
            <h2 class="titleApplicant">Compétences Acquises</h2>

            <div class="skillSelection">
                    <div class="hardSkills">
                        <h5>Compétences Techniques <small>(10 max)</small></h5>
                            <label for="id_label_multiple">
                                {{ form_row(form.hardSkills, {'label': ' '}) }}
                            </label>
                    </div>
                    <div class="softSkills">
                        <h5>Compétences Comportementales <small>(10 max)</small></h5>
                            <label for="id_label_multiple">
                                {{ form_row(form.softSkills, {'label': ' '}) }}
                            </label>
                    </div>
            </div>
        </div>
    <div class="buttonApplicant">
        <input type='submit' class="btn btn-vertOze" value='Valider'>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    $('#applicant_softSkills').select2({
            maximumSelectionLength: 10
    })
    $('#applicant_hardSkills').select2({
        maximumSelectionLength: 10
    });
});</script>
{% endblock %}
