{% extends 'base.html.twig' %}

{% block title %}Applicant index{% endblock %}

{% block body%}
    {% include '/applicant/_navbar.html.twig' %}
        {% if applicant.firstname is not null %}
            <div class="container applicant_index_tuto">
                <h1 class="applicant_home_welcome_mainTitle">Bienvenue {{ applicant.firstname }} !</h1>
            </div>
            <div class="ApplicantInfo">
{#                    <div class="col-md-4" id="candidateInfo">#}
{#                        <p class="text-center">{{ applicant.personality }}</p>#}
{#                        <p class="text-center">{{ applicant.city }}</p>#}
{#                    </div>#}
                    <div id="listApplicantInfo">
                        <ul class="list-group list-group-flush" >
                            <li class="list-group-item">Description : {{ applicant.personality }}</li>
                            <li class="list-group-item">Ville : {{ applicant.city }}</li>
                            <li class="list-group-item">Mobilité : {{ applicant.mobility }}</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div id="skillsList">
                        <ul class="list-group" id="list-HardSkill">
                            <li class="list-group-item active btn-bleuOze">Compétences techniques</li>
                            {% for hardSkill in applicant.hardSkills %}
                                <li class="list-group-item">{{ hardSkill.name }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="list-group" id="list-SoftSkill">
                            <li class="list-group-item active btn-bleuOze">Compétences Comportementales</li>
                            {% for softSkill in applicant.softSkills %}
                                <li class="list-group-item">{{ softSkill.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        {% else %}
        <div class="applicantForm">
            <div class="infoForm">
                <h2 class="titleApplicant">Créer ton profil</h2>
                {{ form_start(form) }}
                {{ form_row(form.firstname, {'label': 'Ton prénom'}) }}
                {{ form_row(form.lastname, {'label': 'Ton nom'}) }}
                {{ form_row(form.city, {'label': 'Ta ville'}) }}
                {{ form_row(form.mobility, {'label': 'Ta mobilité (Jusqu\'où tu veux aller travailler)'}) }}
                {{ form_row(form.availability, {'label': 'A partir de quand es-tu disponible?'}) }}
                {{ form_row(form.personality, {'label': 'Parle nous de toi, de tes hobbies, de tes passions..'}) }}
            </div>
            <hr>
            <h2 class="titleApplicant">Compétences Acquises</h2>

            <div class="skillSelection">
                <div class="hardSkills">
                    <h5>Compétences Techniques <small>(10 max)</small></h5>
                    {{ form_row(form.hardSkills, {'label': ' '}) }}
                </div>
                <div class="softSkills">
                    <h5>Compétences Comportementales <small>(10 max)</small></h5>
                    {{ form_row(form.softSkills, {'label': ' '}) }}
                </div>
            </div>
        </div>
        <div class="buttonApplicant">
            <input type='submit' class="btn btn-vertOze" value='Valider'>
        </div>
        {{ form_end(form) }}

            {% block stylesheets %}
                {{ parent() }}
                <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
            {% endblock %}
            {% block javascripts %}
                {{ parent() }}
                <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#applicant_softSkills').select2({
                            maximumSelectionLength: 10
                        })
                        $('#applicant_hardSkills').select2({
                            maximumSelectionLength: 10
                        });
                    });</script>
            {% endblock %}
        {% endif %}
{% endblock %}
