{% extends 'base.html.twig' %}

{% block title %}Nouveau profil{% endblock %}

{% block body %}
    <h2>Créer ton profil</h2>

        <div class="applicantForm">
            {{ form_start(form) }}
            {{ form_row(form.firstname, {'label': 'Ton prénom'}) }}
            {{ form_row(form.lastname, {'label': 'Ton nom'}) }}
            {{ form_row(form.city, {'label': 'Ta ville'}) }}
            {{ form_row(form.personality, {'label': 'Parle nous de toi, de tes hobbies, de tes passions..'}) }}
            <h2>Compétences Acquises</h2>

            <input type='submit' value='C parti'>
            {{ form_end(form) }}
        </div>
    <a href="{{ path('applicant_index') }}">back to list</a>
{% endblock %}
