{% extends 'base.html.twig' %}

{% block title %}Détail de l'offre{% endblock %}

{% block body%}
    {% include '/applicant/_navbar.html.twig' %}
        {% if offer.isAnonymous == false %}
            <h1>{{ company.name }}</h1>
            <div class="profilCompany">
                <div class="photoVideoCompany">
                    <div class="photoCompany">
                        {% if company.picture is not empty %}
                            <img src="{{asset('uploads/images/company/'~company.picture)}}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
                        {% endif %}
                    </div>
                    <div class="videoCompany">
                        {% if company.video is not empty %}
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{ company.video }}"></iframe>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="descriptionCompanyOfferDetail" >
                    <div class="card " style="margin-left: 10px">
                        <div class="card-body descriptionCompanyOfferDetail">
                            <h4 class="card-header text-center">Qui sommes-nous ?</h4>
                            <p class="card-text" id="textOfferDetail">{{ company.description }}</p>
                        </div>
                    </div>
                    <div class="card " style="margin-left: 10px">
                        <div class="card-body descriptionCompanyOfferDetail">
                            <h4 class="card-header text-center">Nos Valeurs</h4>
                            <p class="card-text" id="textOfferDetail">{{ company.csr }}</p>
                        </div>
                    </div>
                </div>
            </div>
    <hr>
        {% endif %}
    <div class="offerDetail">
        <h1 >{{ offer.title }}</h1>
            <div class="card startDateContractType ">
                <div class="startDateOfferDetail">
                    <h3>Date de début : </h3>
                        <h5>{{ offer.startDate |date("d/m/Y")}}</h5>
                </div>
                <div class="contractTypeOfferDetail">
                    <h3>Type de Contrat : </h3>
                        <h5>{{ offer.contractType }}</h5>
                </div>
                <div class="cityOfferDetail">
                    <h3>Où ? : </h3>
                    <h5>{{ offer.city }}</h5>
                </div>
                <div class="salaryOfferDetail">
                    <h3>Salaire : </h3>
                    <h5>{{ offer.salary }}</h5>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Description de l'offre :</h5>
                    <p class="card-text">{{ offer.description }}</p>
                </div>
            </div>

        <div class="skillsOfferDetail">
            <div class="hardSkillsOfferDetail">
                <ul class="list-group hardSkills">
                    <li class="list-group-item active btn-bleuOze">Compétences Techniques</li>
                    {% for hardSkill in offer.hardSkills %}
                        <li class="list-group-item">{{ hardSkill.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="softSkillsOfferDetail">
                <ul class="list-group softSkills">
                    <li class="list-group-item active btn-bleuOze">Compétences Comportementales</li>
                    {% for softSkill in offer.softSkills %}
                        <li class="list-group-item">{{ softSkill.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        {% if offer in applicant.offers %}
            {% else %}
            <div class="buttonPostule">
                <a class="btn btn-vertOze" href="{{ path('applicant_offer_apply' , {id: offer.id}) }}">Postuler</a>
            </div>
        {% endif %}
{% endblock %}
