{% extends 'base.html.twig' %}

{% block title %}Ma fiche candidat{% endblock %}

{% block body %}
    {% include '/applicant/_navbar.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="candidateInfo">
                <h1>{{ applicant.firstname ~ ' ' ~ applicant.lastname }}</h1>
                <div id="listApplicantInfo">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Description : </strong>{{ applicant.personality }}</li>
                        <li class="list-group-item"><strong>Ville : </strong>{{ applicant.city }}</li>
                        <li class="list-group-item"><strong>Mobilité : </strong>{{ applicant.mobility }}</li>
                    </ul>
                </div>
                <div id="buttonDetails">
                    <a href="{{ path('applicant_edit', {'id': applicant.id}) }}"><button class="btn btn-vertOze">Modifier mon profil</button></a>
                </div>
            </div>
            <div class="col-md" id="skillsList">
                <div class="card" id="list-HardSkill">
                    <div class="card-body" >
                        <div class="card-header">
                            <h5>Compétences Techniques</h5>
                        </div>
                        <div class="skillMatchApplicant">
                            <ul style="list-style: none ">
                                {% for skillCat in skillCats %}
                                    <div class="titleCategoryApplicant">
                                        <strong>{{ skillCat.name }}</strong>
                                    </div>
                                        {% for hardSkill in applicant.hardSkills %}
                                            {% if hardSkill.skillCategory is same as skillCat %}
                                                <div class="skillGroup">
                                                    <li class="list-group-item"> {{ hardSkill.name }}</li>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card" id="list-HardSkill">
                    <div class="card-body" >
                        <div class="card-header">
                            <h5>Compétences Comportementales</h5>
                        </div>
                        <div class="skillMatchApplicant">
                            <ul style="list-style: none ">
                                {% for softSkill in applicant.softSkills %}
                                    <li class="list-group-item">{{ softSkill.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
